# different exclusions to reduce uploads and consider privacy
# a good reference is the .gitignore from MATERIAL THEME

# Dependencies
venv
.venv

# Build files
build
site
**/site

# Caches and logs
.cache
**/.cache
